body {
    display: flex;
    background: radial-gradient(rgba(255, 255, 255, 0.685), rgba(92, 250, 216, 0.616));
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;


}

/* .BGImg{
    background-image: url(./imgs/BG-Img.jpg);
    display: flex;
    width:100%;

} */

.container {
    background-color: rgba(211, 211, 211, 0.404);
    border-radius: 1em;
    border-style: solid;
    border-color: rgb(12, 133, 106);
    margin-bottom: 5%;
    margin: auto;
}

header {
    width: 80%;
    color: rgb(68, 65, 68);
    text-align: center;
    margin: 5% auto;
}

aside {
    display: inline-block;
    border-right: 1rem solid rgb(169, 169, 169);
    padding-top: 1%;
    padding-right: 1%;
    margin: 2%;
}

.lead {
    display: inline-block;
    margin: 1% auto;
    padding-left: 1%;
    padding-right: 2%;
    width: fit-content;
    text-align: justify;
}

    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#hr1 {
    width: fit-content;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


a {
    color: rgb(61, 61, 61);
}

#gmail {
    display: block;
    width: 45px;
    block-size: 8%;
    margin: 10% 10%;
}

#phone {
    block-size: 4.5%;
    margin: 20% 10%;
}

#slack {
    block-size: 8%;
    margin: 20% 10%;
}

#git {
    block-size: 8%;
    margin: 20% 10%;
}

#lin {
    block-size: 8%;
    margin: 20% 10%;
}

.links {
    margin: 2%;
    text-align: right;
    font-size: medium;
}

h2 {
    color: rgb(68, 65, 68);
    text-align: left;
    font-weight: bold;
    margin: 2% auto;
}

h3, h4, li, ul {
    color: rgb(68, 65, 68);
    text-align: start;
    margin: 2% auto;
}

#skills{
    display: inline-block;
    padding-top: 1%;
    padding-right: 1%;
    margin: 1% auto;
}

article {
    display: inline-block;
    margin: 1% auto;
    padding-left: 1%;
    padding-right: 2%;
    width: fit-content;
    text-align: justify;
    border-left: 3px solid rgb(169, 169, 169);;

  }

.Experience2{
    border-bottom: 3px solid rgb(169, 169, 169);
}

.Education{
    margin: 2% auto;
    padding-top: 1%;

}
.Languages{
    margin: 5% auto;
}

#language{
    font-size: larger;
    font-weight: 500;
    margin-right: 2%;
}

#skill{
    margin: 2% 2%;
}
.skillList{
    margin: 5% auto;
}

#Up{
    padding: 1%;
    margin-left: 2%;
}